{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}

    <div class="corp">
        <a href="{{ path('nouveauBillet') }}"><p>Ajouter un épisode</p></a>
    </div>

{% endblock %}
