{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}

    <div class="corp">
        <div class="corpApropos">
        <p><img src="{{ asset('images/businessman-310819_1280.png') }}" name="auteur" alt="auteur" class="photoApropos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere ut turpis vitae rhoncus. Ut eu dui dapibus, sodales metus ut, accumsan lacus. In hac habitasse platea dictumst. Fusce eu justo eget mi tincidunt aliquet. Aliquam id commodo nisi. Sed porta ex auctor nulla volutpat, non molestie ex maximus. Cras in diam id nulla mollis tempus. Aenean nec justo et tellus pellentesque tempor ut a justo. Pellentesque pretium, purus eu tempor rhoncus, neque enim cursus sem, vitae mollis nibh magna non mi. Maecenas ac pharetra massa, vel elementum mi. In bibendum suscipit sodales. Maecenas sed auctor lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas efficitur orci non malesuada consectetur. Suspendisse eu euismod orci.

            Vestibulum nec tristique augue. Cras volutpat, lectus in semper placerat, neque mi blandit quam, consectetur condimentum neque elit a nisl. Praesent id neque malesuada augue viverra interdum. Duis eget erat nisl. Nunc scelerisque diam eu gravida lobortis. Curabitur eu ligula eget augue hendrerit mollis et ut ante. Nunc consequat lorem ac quam dapibus elementum. Nulla eros mi, iaculis ac congue vel, vulputate eget velit. Morbi aliquet ex sed rhoncus luctus.

            Etiam et dui sed nisi facilisis posuere sed eget risus. Phasellus in lorem urna. Phasellus commodo aliquam justo, nec dictum neque porttitor nec. Sed egestas tortor quis est consequat fermentum. Curabitur tortor dolor, vehicula sodales iaculis eu, pretium quis odio. Morbi molestie tortor non lectus pellentesque rhoncus convallis vel lectus. Donec mattis blandit ultricies. Pellentesque accumsan et nunc vel consequat. Suspendisse bibendum accumsan libero eget scelerisque. Mauris condimentum diam non velit gravida laoreet. Duis condimentum urna in magna tristique finibus ut ut dui. Nullam sagittis erat nec laoreet cursus. Maecenas et tincidunt nisl.</p>
        </div>
    </div>

{% endblock %}
