/* ===== LAYOUT ===== */

body
{
    background-image: url(../images/sunrise-2062953_1920.jpg);
    background-repeat: no-repeat;
    background-color: #124070;
}

.container
{
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    border-radius: 5px;
    padding-bottom: 15px;
}

.titreSite
{
    font-size: 1.4em;
    font-weight: bold;
    color: black !important;
    font-family: 'Pacifico', cursive, Arial;
}

.headerNavigation
{
    display: flex;
    justify-content: space-around;

}

.headerNavigation li:hover
{
    background-color: #058DFC;
}

.connexHeader
{
    padding-top: 17px;
}

.connexHeader a
{
    text-decoration: none;
}

footer
{

    background: black;
    height: 80px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px 5px 5px 5px;
    padding-bottom: 5px;
}

footer p
{
    margin-top: 15px;
    padding-top: 15px;
}

#divLienAdmin
{
    width: 100px;
    margin: auto;
}

#lienAdmin
{
    color: white;
    width: 100px;
    text-align: center;
}

#lienAdmin p
{
    max-width: 100px;
}

/* ========================== */

/* ==== INDEX ==== */

.corp
{
    background: white;
    border-radius: 5px 5px 5px 5px;
    padding-bottom: 25px;
}

.corpSection1
{
    display: flex;
    width: 100%;
}

.sectionDescription
{
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    border-right: 4px solid grey;
}

.sectionDescription hr
{
    width: 70%;
    border-color: black;
}

.sectionDescription h1
{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.2em;

}

.sectionDescription p
{
    text-align: justify;
    padding-right: 15px;
}

.sectiondroite
{
    min-width: 20%;
}

.rectangle-right
{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #DFE8F2;
    margin-top: 25px;
    margin-right: 15px;
}
.rectangle-right hr
{
    width: 70%;
    border-color: black;
}

.rectangle-right p
{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.rectangle-right h3
{
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.rectangle-right li
{
    text-align: center;
    padding-bottom: 5px;
}

.rectangle-right a
{
    text-decoration: none;
}

.rectangle-right li:hover
{
    background-color: #28E307;
}

#logoSociaux
{
    text-align: center;
}

.photoAuteur
{
    width: 100px;
    height: 100px;
    margin-left: 30%;
    margin-top: 5px;
}

#titreDernierEpisode
{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Pacifico', cursive, Arial;
    margin-top: 15px;
    margin-bottom: 25px;

}

.dernierEpisode
{
    border: 1px solid black;
    border-radius: 5px;
    max-width: 70%;
    align-items: center;
    padding: 15px;
    background-color: #FCF0E8;
    margin: auto;
    max-height: 800px;
    overflow: auto
}

.dernierEpisode h2
{
    font-size: 1.2em;
    font-weight: bold;
}

.publie
{
    margin-top: 5px;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 0.7em;
}

.dernierEpisode p
{
    text-align: justify;
}

/* =========================== */

/* ===== PAGE EPISODE UNIQUE === */

#episodeUnique
{
    padding-top: 25px;
}

.commentaires
{
    margin-top: 25px;
}

.commentParent
{
    margin: auto;
}

.commentaires h2
{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Pacifico', cursive, Arial;
    margin-top: 15px;
    margin-bottom: 25px;
}

.commentParent
{
    margin-bottom: 25px;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    padding-top: 10px;
    padding-left: 15px;
    background-color: #9AB8D9;
}

.commentEnfant div
{
    background-color: #DCE1E3;
}

.enReponse
{
    font-style: italic;
    font-size: 0.9em;
}
.commentaires h3
{
    font-weight: bold;
    margin-bottom: 5px;
}

.reponse-report
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    text-decoration: none;
}

.repondre
{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.repondre:hover
{
    color: #28E307;
}

.report
{
    text-decoration: none;
    color: black;
}

.report:hover
{
    color: red;
}

#textCommentaire
{

}

.addComment
{
    text-align: center;
}

.addComment textarea
{
    width: 40%;
    height: 270px;
    resize: none;
    margin-top: 25px;
    margin-bottom: 15px;
}

.reponseCommentaire
{
    margin-left: 35px;
    margin-top: 15px;
    background-color: grey;
}

.mustBeConnect
{
    text-align: center;
    font-size: 1.2em;
}

/* ============================ */

/* ==== PAGE REPONSE A UN COMMENTAIRE ==== */

.commentaires-réponse
{
    padding-top: 25px;
    margin: auto;
    width: 30%;

}

.commentaires-réponse div
{
    border-bottom: 1px solid black;
    border-top: 1px solid black ;
    margin-bottom: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.commentaires-réponse h3
{
    font-weight: bold;
    margin-bottom: 5px;
}



/* ============================= */

/* ==== PAGE LISTE EPISODES ==== */

.listEpisode
{
    border: 1px solid black;
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    padding: 10px;
    margin-top: 25px;
}

.listEpisode h3
{
    font-weight: bold;
    font-size: 1.2em;
}

#lienEpisodes
{
    text-decoration: none;
}

.listEpisode
{
    color: black;
    background-color: #FCF0E8;
}

.listEpisode:hover
{
    background-color: #058DFC;
}

#corpListEpisode
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* ============================ */

/* ==== PAGE A PROPOS ==== */

.photoApropos
{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

.corpApropos
{
    padding: 35px;
    text-align: justify;
}

/* ============================= */

/* ==== PAGE DE CONNEXION ==== */

.formLog
{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: auto;
    padding-top: 25px;
}

.formLog input
{
    margin-bottom: 25px;
}

/* ============================ */

/* ==== PAGE PRINCIPALE ADMIN ==== */

#corpAdmin
{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    flex-direction: column;


}

.titreAdmin
{
    text-align: center;
}

#admin-moderation
{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    overflow: auto;
    max-height: 400px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;

}

#admin-moderation div{

    display: flex;
    justify-content: space-around;
}

.episode-auteur-commentaire
{
    flex-direction: column;
}

.boutonComment input
{
    margin-right: 10px;

}
#admin-updateDelete
{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    max-height: 400px;
    overflow: auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.nouveauBillet
{
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: center;

}

.nouveauBillet a
{
    border-radius: 20px;
    height: 60px;
    width: 300px;
    padding: 5px;
    background-color: #058DFC;
    font-weight: bold;
    font-family: 'Pacifico', cursive, Arial;
    text-decoration: none;
    color: black;
}

.nouveauBillet a:hover
{
    background-color: #28E307;
}

#corpAdmin h4
{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 25px;
}

#corpAdmin a
{
    text-decoration: none;
    font-size: 1.1em;
}

#corpAdmin a:hover
{
    color: red;
}

#corpAdmin li
{
    margin-bottom: 7px;
}

/* ============================ */

/* ==== PAGE ADMIN AJOUT/MODIF/SUPPR D'UN EPISODE ==== */
#tinyTitre
{
    padding-top: 35px;
    text-align: center;
}

#tinyTitre input
{
    width: 45%;
}


#zoneTiny
{
    padding-top: 25px;
    padding-bottom: 35px;
    width: 80%;
    min-height: 700px;
    margin: auto;

}

.tinyValider
{
    width: 10%;
    margin-left: 45%;
}

#boutonDelete
{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 25px;
}

/* ============================ */

/* ==== PAGE ERREUR PERSO ==== */

.erreur_perso
{
    background-color: rgba(255, 255, 255, 0.90);
    font-family: 'Roboto', Arial, sans-serif;
    padding: 10%;
}

.erreur_perso h1
{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
}

.erreur_perso hr
{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ============================== */

/* ===== RESPONSIVE ==== */
@media screen and (max-width: 1030px) {

    .titreSite
    {
        font-size: 1.1em;

    }

    .headerNavigation
    {
        display: inherit;
    }

    .navbar-brand
    {
        color: black !important;
    }

    .navbar-header
    {
        display: inherit;
    }

    .connexHeader
    {
        font-size: 0.8em;
        max-width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }


    /* ==== INDEX ==== */
    .corpSection1
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .photoAuteur
    {
        justify-content: center;
        margin-left: 40%;

    }

    .col-md-3
    {
        margin: auto;
    }

    .dernierEpisode
    {
        min-width: 100%;
    }

    .sectionDescription
    {
        border: none;
    }

    .rectangle-right
    {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* ============================ */

    /* ==== EPISODE UNIQUE ==== */

    .reponse-report
    {
        display: inherit;
    }

    .reponse-report a
    {
        padding: 5px;
        font-size: 0.85em;
    }

    .addComment textarea
    {
        width: 90%;
    }

    /* =========================== */

    /* ==== CONNEXION ADMIN ==== */

    .formLog input
    {
        width: 300%;
    }
    .formLog label
    {
        min-width: 300%;
    }

    /* ============================ */
}